<!DOCTYPE html>
<html>
<head>
    <title>Video Creator</title>
    <style>
        body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        border: 5px;
              
        }
        input{
            padding: 5%;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <h1>Automatic Video Creater</h1>
    <form method="POST" action="/process">
        <label for="input1">Input 1:</label>
        <input type="text" name="input1" id="input1"><br>

        <label for="input2">Input 2:</label>
        <input type="text" name="input2" id="input2"><br>

        <label for="input3">Input 3:</label>
        <input type="text" name="input3" id="input3"><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
